@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Techfont";
    src: url("../public/Techfont/static/PixelifySans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #1a1919;
}

.icons{
    margin-left: 0.25rem; 
}
.icons:hover{
    color: #3c3c3c;
}

input{
    outline: none;
}